<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <% def link_to(name, url)
          return "<a href='#{url}'>#{name}</a>"
        end
      %>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>
      <a href="http://google.com">This is a link to google</a>

      <form method='post' action="<%= @request.path %>">
    First name: <input type="text" name="first_name" placeholder='first name'/><br />
    
    <input type="password" name="password" placeholder='password'/>
    <br/><label><input id="red" type="checkbox" name="colors" value="red" CHECKED />Here's a radio button</label>
    <br/>

    <input type="submit" value="Submit" />
    


    <br/>
    <br/>
    <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
      Hello there <%= @request.query['first_name'] %>
    <% else %>
      Enter thy name
    <% end %>
</form>
    </p>
    
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p><%= link_to 'google', 'http://google.com' %></p>

    </div>
  </body>
</html>