<h1>Gene's Page!</h1>

<p>Excellent things happen here</p>

<p>A few examples of excellent things...</p>

<ul>
	<% %w{chipotle smoothies jellow}.each do |excellent_thing| %>
	<li>Gene likes <%= excellent_thing %></li>
	<% end %>
</ul>